/* 1 */ 
$flirt: #a4036fff;
$blue-munsell: #048ba8ff;
$medium-aquamarine: #16db93ff;
$corn: #efea5aff;
$sandy-brown: #f29e4cff;

/* 2 */
$morning-blue: #849483ff;
$illuminating-emerald: #4e937aff;
$popstar: #b4656fff;
$mountbatten-pink: #948392ff;
$granny-smith-apple: s#c7f2a7ff;

/* 3 */
$onyx: #393d3fff;
$white: #fdfdffff;
$silver: #c6c5b9ff;
$steel-teal: #62929eff;
$dark-electric-blue: #546a7bff;

/* 4 */
$mauve: #f7aef8ff;
$lavender-floral: #b388ebff;
$cornflower-blue: #8093f1ff;
$sky-blue-crayola: #72ddf7ff;
$alabaster: #f4f4edff;

/* 5 */
$xiketic: #1a1423ff;
$dark-purple: #372549ff;
$twilight-lavender: #774c60ff;
$popstar: #b75d69ff;
$champagne-pink: #eacdc2ff;

/* 6 */
$khaki-web: #b7ad99ff;
$radical-red: #ff4365ff;
$rich-black-fogra-39: #030301ff;
$turquoise: #00d9c0ff;
$ivory: #fffff3ff;